/* NAVIGATION */
nav {
    background-color: var(--blue);
    color: var(--grey-light-1);
    padding: 0.5rem;
    /* border-radius: 5px; */
}

.hide {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 3rem;
}

nav li {
    display: inline-block;
    /* padding: 0.25rem 1rem; */
    text-transform: capitalize;
}

nav a {
    font-family: inherit;
    color: inherit;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.user p {
    font-size: 2rem;
}

.queryContainer > div > select,
.queryContainer > div > input {
    font-size: 1.6rem;
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

.queryContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    color: var(--blue);
    text-align: center;
    margin-right: 2rem;
    width: 44rem;
    border: none;
}

input:focus,
select:focus {
    border: 2px solid var(--blue-light);
}

input::placeholder {
    font-size: inherit;
    text-align: center;
}

label {
    margin-right: 1rem;
}
