.selectUserItem {
    display: flex;
    margin: 1rem auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.2s;
    border: 2px solid transparent;
}

.selectUserItem img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.selectUserItem h5 {
    font-size: 2rem;
    margin-left: 4rem;
}

.selectUserItem .courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
}

.selectUserItem .courses h4 {
    font-size: 2rem;
}

.selectUserItem .courses h4:first-child {
    width: 40%;
    text-align: left;
}

.inactive {
    background-color: var(--grey-light-3);
    color: var(--blue-dark);
}

.inactive:hover {
    background-color: var(--grey-light-1);
    color: var(--grey-dark-1);
    border-color: var(--grey-light-3);
}

.active {
    background-color: var(--grey-light-1);
    color: var(--grey-dark-1);
    border: 2px solid var(--green);
}

.active:hover {
    background-color: var(--grey-light-1);
    border: 2px solid var(--red);
}
