.selectUserList {
    width: clamp(80%, auto, 50rem);
    margin-bottom: 2rem;
}

.selectUserList div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 30rem;
}

.selectUserList div * {
    margin: 1rem 0;
}

.selectUserList div p {
    font-size: 1.6rem;
}

.selectUserList div p {
    color: var(--grey-dark-1);
}

.selectUserList div button {
    display: inline-block;
    font-family: inherit;
    border: none;
    color: var(--grey-light-1);
    background-color: var(--grey-dark-2);
    padding: 0.25rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s;
}

.selectUserList div button:hover {
    color: var(--blue-dark);
    background-color: var(--grey-light-1);
}
