/* CLASSES + STUDENTS + ASSIGNMENTS */
main {
    margin: 0 auto;
    width: 110rem;
    margin: 2rem auto 4rem;
    position: relative;
}
.mainHeader {
    display: block;
    text-align: center;
    padding: 1rem 1rem 2rem;
}

.mainHeader h1 {
    font-size: 3.6rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--grey-dark-3);
    text-transform: capitalize;
}

.filter {
    position: absolute;
    top: 4rem;
    right: 0;
    display: flex;
    width: 20rem;
}

.filter select {
    border: 1px solid var(--grey-light-3);
    border-radius: 2px;
}
