/* BUTTON */
.btn {
    font-family: inherit;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.nav {
    font-size: 2.4rem;
    background-color: var(--grey-light-1);
    color: var(--blue-dark);
    border-radius: 50%;
    padding: 1.5rem 2rem;
    transition: all 0.2s;
}

.nav:hover {
    background-color: var(--blue-dark);
    color: var(--grey-light-1);
    transform: translateY(-2px);
}

.nav:active {
    background-color: var(--blue-dark);
    color: var(--grey-light-1);
    transform: translateY(-1px);
}

.option {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    font-size: 1.6rem;
    border-radius: 100%;
    background-color: var(--grey-light-3);
    color: var(--black);
    transition: all 0.2s;
}

.option:hover {
    background-color: var(--grey-dark-3);
    color: var(--grey-light-1);
}

.expand {
    font-size: 2rem;
    color: var(--grey-light-1);
    padding: 1rem 1.5rem;
    margin: 1rem 2rem;
    background-color: var(--blue-light);
    border-radius: 100%;
    transition: all 0.2s;
}

.expand:hover {
    color: var(--grey-light-1);
    background-color: var(--blue);
}

.auth {
    background-color: var(--blue);
    color: var(--grey-light-1);
    margin: 2.5rem 0rem 1rem 2rem;
    font-size: inherit;
    border-radius: 4px;
    padding: 1rem 2.5rem;
    transition: all 0.2s;
}

.auth:hover {
    background-color: var(--blue-light);
    transform: translateY(-3px);
}

.auth:active {
    transform: translateY(-1.5px);
    color: var(--grey-light-1);
}

.submit {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--grey-light-1);
    background-color: var(--blue);
    padding: 1rem 3rem;
    border-radius: 25px;
    transition: all 0.3s;
}

.submit:hover {
    background-color: var(--blue-dark);
}
