/* auth and SIGNUP */
.auth {
    font-size: 2rem;
    color: var(--black);
    background-color: var(--grey-light-2);
    width: 70rem;
    border-radius: 5px;
    padding: 2rem 4rem;
}

.auth h2 {
    text-align: center;
    margin: 1rem 0 4rem;
}

.auth div {
    margin: 2rem;
}

.auth div label {
    margin-right: 1rem;
}

.auth div > input {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    width: 40%;
    margin-left: 1rem;
}

.auth div input {
    border-bottom: 4px solid transparent;
}

.auth div input:valid {
    border-bottom: 3px solid var(--green);
}

.auth div input:invalid {
    border-bottom: 3px solid var(--red);
}

.auth div input:placeholder-shown {
    border: none;
}

.invalid {
    font-size: 1.2rem;
    color: var(--red-dark);
    display: inline;
    transition: all 0.2s;
    opacity: 0;
}

.auth div input:invalid + .invalid {
    opacity: 1;
}

.auth div input:placeholder-shown + .invalid {
    opacity: 0;
}

.auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-container a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0.5rem 0.25rem;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    transition: all 0.2s;
}

.auth-container a:hover {
    color: var(--blue-light);
    border-color: var(--blue-light);
}

.auth div span {
    display: inline-block;
    margin-right: 2rem;
}
