.errorMsg {
    position: fixed;
    z-index: 10000;
    max-width: 60rem;
    padding: 2rem 4rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--red);
    color: var(--grey-light-1);
    text-align: center;
}
