.successMsg {
    position: fixed;
    z-index: 10000;
    max-width: 60rem;
    padding: 2rem 4rem;
    top: 2rem;
    left: 50%;
    border-radius: 3px;
    transform: translateX(-50%);
    background-color: var(--green);
    color: var(--grey-light-1);
}
