.outerList {
    list-style: none;
    background-color: var(--grey-light-2);
}

.none {
    text-align: center;
    text-transform: capitalize;
    margin-top: 4rem;
}

.outerListSummary {
    padding: 2rem 0;
    /* background-color: var(--grey-light-3); */
    color: var(--grey-dark-0);
}

.outerListSummary p {
    margin: 0 2rem;
    text-align: center;
}
